@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Medical support application</h1>
    <div class="container bg-black">
        <div class="border border-primary"></div>
        <hr />
        <div class="border border-primary"></div>
    </div>
    <div>

    </div>
</div>
